<!DOCTYPE html>
<html>
<head>
  <title>ProblemList</title>
</head>
<body>
    <h1>ProblemList</h1><br>
    <br>
    <br>
    <br>
  <% for(let i = 0; i < problemarr.length; i++) { %>
    <div id=$problemarr[i]><a href="<%= link %><%=problemarr[i] %>" ><%= problemarr[i] %></a></div>
  <% } %>
</body>
</html>
